<html>
    <body>
        <h3>Bonjour,</h3>

        <p>Nous souhaiterions passer commande pour {{ hour }}, merci de me rappeler au {{ phoneNumber }} si ce n'est pas possible</p>

        <p>Notre commande :</p>

        <ul>
            {% for order in orders %}
                <li>{{ order.order }}</li>
            {% endfor %}
        </ul>

        <p>Merci {{ name }}</p>
    </body>
</html>
