{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}


{% block title %}
    coucou
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="sentence">Coucou</h1>
        <div class="bottom">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                <i class="material-icons">keyboard_arrow_down</i>
            </button>
        </div>
    </div>
{% endblock %}